@using NearCompanion.Shared;

<div class="container">
  <div class="row">
    
  </div>

  <div class="row">
        <div class="col-3">

        </div>
        <div class="col-9">
                <div class="info-row">
                    <span class="info-name">🧬 Hash: </span>
                    <span>@Model?.Hash</span>
                </div>

                <div class="info-row">
                    <span class="info-name">🏁 Height Created: </span>
                    <span>@Model?.HeightCreated</span>
                </div>

                <div class="info-row">
                    <span class="info-name">⚓ Height Included: </span>
                    <span>@Model?.HeightIncluded</span>
                </div>

                <div class="info-row">
                    <span class="info-name">💼 Author: </span>
                    <span>@Model?.Author</span>
                </div>

                <div class="info-row">
                    <span class="info-name">⛽ Utilization: </span>
                    <span>@Model?.UtilizationPercentage %</span>
                </div>
        </div>
  </div>

  <div class="row">
      <span class="text-center transactions-title">Transactions</span>
  </div>

  <div class="row">
        <RadzenDataGrid AllowFiltering="false" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="4"
                        AllowSorting="false" Data="@Model?.Transactions" TItem="SimpleTransactionModel" GridLines="DataGridGridLines.Vertical"
                        style="padding-left: 0px;padding-right: 0px; border-radius: 0px 0px 10px 10px"> @*Id or class style not working properly*@
            <EmptyTemplate>
                <p class="gray-hint">No transactions were generated in this chunk</p>
            </EmptyTemplate>
            <Columns>
                <RadzenDataGridColumn TItem="TransactionModel" Title="Actions" TextAlign="TextAlign.Center" Width="100px"/>
                <RadzenDataGridColumn TItem="TransactionModel" Property="SignerId" Title="🔑 Signer" TextAlign="TextAlign.Center" MinWidth="150px"/>
                <RadzenDataGridColumn TItem="TransactionModel" Property="ReceiverId" Title="📪 Receiver" TextAlign="TextAlign.Center" MinWidth="150px"/>
                <RadzenDataGridColumn TItem="TransactionModel" Property="Hash" Title="🧬 Hash" TextAlign="TextAlign.Center" MinWidth="150px" />
                <RadzenDataGridColumn TItem="TransactionModel" Title="" Width="80px">
                    <Template>
                        <p style="font-size: 14px; text-align: center; font-weight: bold; margin: 0;">Details</p>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
