<div class="transaction-container">
	<div style="background: tomato; width: 75px">
	</div>
		<TransactionItemPill Name="Signer" Text="@Model?.SignerId" Icon=🔑 Color="#5E96D5" />
		<TransactionItemPill Name="Receiver" Text="@Model?.ReceiverId" Icon=📥 Color="#67BB3F" />
		<TransactionItemPill Name="Hash" Text="@Model?.Hash" Icon=🧬 Color="#B769FB" />
	<div>
		Details
	</div>
</div>
