.transaction-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #F3F3F3;
    border-radius: 100px;
    margin-top: 10px;
    padding: 7px;
}