<div class="container transaction-container">
	<div class="row align-middle">
		<div class="col-2">
		</div>
		<div class="col-3">
			<TransactionItemPill Name="Signer" Text="@Model?.SignerId" Icon=📤 Color="#5E96D5" />
		</div>
		<div class="col-3">
			<TransactionItemPill Name="Receiver" Text="@Model?.ReceiverId" Icon=📥 Color="#67BB3F" />
		</div>
		<div class="col-3">
			<TransactionItemPill Name="Hash" Text="@Model?.Hash" Icon=🧬 Color="#B769FB" />
		</div>
		<div class="col-1">
			Details
		</div>
  </div>
</div>
