@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="container-fluid alert alert-primary my-0 py-0">
            <img class="logo" src="/NearXDLogo.png">
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
