@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="px-4">
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
            <img class="logo" src="/NearXDLogo.png" alt="Italian Trulli">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
