@keyframes moveBlocksRightAnimation 
{
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(200px);
    }
}

.rightShift 
{
    animation: 0.27s linear 0s 1 moveBlocksRightAnimation;
}

.blocksContainer {
    position: fixed;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    background-color: transparent;
    justify-content: flex-start;
    flex-direction: row-reverse;
    height:100%;
}

#stop-button {
    width: 150px;
    height: 60px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.xd-button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-weight: 400;
    background: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    color: black;
    -webkit-box-shadow: 3px 3px 0px 0px #CAE6FF, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 3px 3px 0px 0px #CAE6FF, 5px 5px 15px 5px rgba(0,0,0,0);
    text-align: center;
}

.hoverableButton:hover {
    box-shadow: 3px 3px 0px 0px #5FB8FF, 0 12px 16px 0 #CAE6FF, 0 17px 50px 0 #CAE6FF;
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
}